name: Deploy Stage to Subfolder

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        # with:
        #   fetch-depth: 0  # Shallow clones should be disabled for a better reference repository

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9  # latest stable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'  # enables pnpm cache

      - name: Install dependencies
        run: |
          pnpm config set side-effects-cache false
          pnpm install --foreground-scripts

      - name: Build
        run: pnpm run build  # Outputs to /dist (change if your build command differs)

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './dist'  # Path to your built site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4